.article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 70%;

    margin: 70px auto;
}

.tartine {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 300px;
    height: auto;
} 

.para {
    width: 500px;
}

.para > h2 {
    color: greenyellow;

    margin: 0px;
}

.para > p {
    color: white;

    margin: 0px;
}

.button-article {
    background-color: wheat;
    color: brown;

    border: none;
    border-radius: 15px 15px 15px 15px;

    font-size: 20px;
    font-weight: bold;

    margin: 10px 0px;
    padding: 5px;

    width: 50%;

    cursor: pointer;
}